@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  nav,footer,header,aside{display: block;}
  html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family: inherit;}
  input:-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner{padding: 0;border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover {text-decoration: none;}
  ul, li {list-style: none;}
  img{vertical-align: top;}
  h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

body {
    font-family: 'Josefin Sans', sans-serif;
}  
.container {
    max-width: 600px;
    margin: 0 auto;
}

.calculator {
    padding-top: 200px;
    text-align: center;
}

.calculator__title {
    margin-bottom: 30px;
}

.calculator__title h2 {
    font-size: 50px;
}

.calculator__block input {
    border: 1px solid rgb(137, 218, 23);
    font-size: 20px;
    width: 300px;
    height: 40px;
}

.calculator__usernum_1 {
    margin-bottom: 10px;
}

.calculator__button_block {
    margin-top: 30px;
    padding-bottom: 100px;
}

.calculator__button_block button{
    padding: 15px 35px;
    font-size: 30px;
    background: none;
    border: 1px solid rgb(137, 218, 23);
}

.calculator__result {
    margin-top: 30px;
}

.result {
    font-size: 30px;
}